seishub/plugins/exupery/xsd/insar.xsd

<?xml version = '1.0'?>
<xs:schema elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InSAR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element maxOccurs="1" minOccurs="1" name="range_upperleft"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:element maxOccurs="1" minOccurs="1" name="latitude"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element maxOccurs="1" minOccurs="1" name="value"
                      type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="lowerUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="upperUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="1" name="longitude"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element maxOccurs="1" minOccurs="1" name="value"
                      type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="lowerUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="upperUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="range_lowerright"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:element maxOccurs="1" minOccurs="1" name="latitude"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element maxOccurs="1" minOccurs="1" name="value"
                      type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="lowerUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="upperUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="1" name="longitude"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element maxOccurs="1" minOccurs="1" name="value"
                      type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="lowerUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="0"
                      name="upperUncertainty" type="xs:float"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="start_datetime"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:element maxOccurs="1" minOccurs="1" name="value"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:union memberTypes="xs:dateTime xs:date"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </xs:simpleType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="0" name="lowerUncertainty"
                type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              <xs:element maxOccurs="1" minOccurs="0" name="upperUncertainty"
                type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="end_datetime"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:element maxOccurs="1" minOccurs="1" name="value"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:union memberTypes="xs:dateTime xs:date"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </xs:simpleType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="0" name="lowerUncertainty"
                type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              <xs:element maxOccurs="1" minOccurs="0" name="upperUncertainty"
                type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="files"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:element maxOccurs="unbounded" minOccurs="0" name="file"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element maxOccurs="1" minOccurs="1"
                      name="original_path" type="xs:string"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="local_path"
                      type="xs:string"
                      xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  <xs:attribute name="format" type="xs:string" use="required"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  <xs:attribute name="filesize" type="xs:int" use="required"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="author" type="xs:string"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="0" name="software"
          type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="external_DEM"
          type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="minimal_displacement"
          type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="maximal_displacement"
          type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="effective_baseline"
          type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="height_ambiguity"
          type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1"
          name="original_azimuth_resolution_per_pixel" type="xs:float"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="looks_of_azimuth"
          type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1"
          name="original_range_resolution_per_pixel" type="xs:float"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element maxOccurs="1" minOccurs="1" name="looks_of_range"
          type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="satellite" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="project_id" type="xs:string" use="required"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:attribute name="volcano_id" type="xs:string" use="required"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
